{% extends "common.html" %} {% block title %} Green energy products {% endblock %} {% block body %}
<section>
  <h1>Greeny Energy Products</h1>
  <p>
    There are plenty of green energy products on the market which you can buy now.
  </p>

  <h2>Products</h2>
  <ul>
    <li>
      <strong>Solar Panels:</strong> Put them on your roof to power your home.
    </li>
    <li>
      <strong>Small Wind Turbines:</strong> Great for open spaces or farms.
    </li>
    <li><strong>LED Lights:</strong> Use less power and last longer.</li>
    <li>
      <strong>Smart Thermostats:</strong> Save energy by adjusting heat and
      cooling.
    </li>
    <li><strong>Battery Packs:</strong> Store extra energy for later.</li>
  </ul>
</section>
{% endblock %}
