/* 100px -> default padding for half size */
/* 200px -> default padding for full size */
/* #456C39 is the background colour for buttons */
/* #164707 is the text colour */
/* Symbols found at https://css.gg/ */

:root {
    --card-green: #C1DEB8;
    --bg-green: #456C39;
    --text-primary: #164707;
    --error: #d34141;
    --input: #DEFFD3;
    --off-white: #F7FFF4;

    --padding: 50px;
    --hero-title: 50px;
    --hero-subtitle: 30px;
}

@media (min-width: 1000px) {
    :root {
        --hero-title: 80px;
    }
}

@media (min-width: 1500px) {
    :root {
        --padding: 200px;
    }
}

@media (min-width: 2100px) {
    :root {
        --padding: 300px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

#body {
    padding: 0px var(--padding)
}

.underline {
    text-decoration: underline;
}

.hero {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    border-radius: 0px 0px 30px 30px;
}

.hero-image {
    max-width: 100vw;
    border-radius: 0px 0px 30px 30px;
}

/* Selects all DIV children of .hero */
.hero div>div {
    position: absolute;
    padding: 0px var(--padding);
    color: var(--off-white);
    font-weight: 500;
    opacity: 80%;
}

.hero-title {
    top: 20%;
    font-size: var(--hero-title)
}

.hero-subtitle {
    top: 40%;
    font-size: var(--hero-subtitle)
}


/* FORMS */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form form * {
    font-size: 16px;
    min-width: 250px;
}

input {
    border: none;
    border-radius: 15px;
    padding: 13px 16px;
    background-color: var(--input);
    color: var(--text-primary);
}

input:disabled {
    color: var(--card-green);
}

.form form input::placeholder {
    color: var(--text-primary);
    opacity: 60%;
}

.form span.title {
    font-size: 30px;
    font-weight: 500;
}

.form span.subtitle {
    font-size: 20px;
    margin-bottom: 15px;
}


/* MESSAGES (ERROR, ETC) */
#messages {
    display: flex;
    padding: 0px 100px;
}

#messages .card {
    display: flex;
    background-color: var(--card-green);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    color: var(--text-primary)
}

#messages .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#messages .card div span:nth-child(2) {
    font-size: 18px;
}


/* BUTTON */

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: var(--bg-green);
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 100px;
    cursor: pointer;
    transition: all ease 0.15s;
}

button:hover {
    scale: 105%;
}

button:active {
    scale: 95%;
}


/* NAVBAR */

nav.navbar {
    padding: 20px var(--padding);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: var(--text-primary);
}

nav.navbar .left .logo {
    font-weight: 700;
    font-size: 36px;
}

nav.navbar .left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

nav.navbar .right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}


/* NAVBAR DROPDOWNS */

.dropdown {
    position: relative;
    z-index: 1;
    transition: all 1s;
}

.dropdown-label {
    cursor: pointer;
    display: inline;
}

.dropdown-label > img {
    vertical-align: middle;
}

.dropdown:hover .dropdown-label {
    padding-bottom: 20px;
}

@keyframes dropdown-animate {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: max-content;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    top: 35px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.dropdown-label img {
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown:hover > .dropdown-label img {
    rotate: 180deg;
}

.dropdown:hover .dropdown-content {
    display: flex;
    animation-name: dropdown-animate;
    animation-duration: .3s;
    animation-timing-function: ease-in-out
}