<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/font.css" rel="stylesheet">
    <script src="/static/form-submit.js"></script>
    <title>Rolsa Tech - {% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar" id="navbar">
        <div class="left">
            <a href="/">
                <span class="logo">
                    RTech
                </span>
            </a>
            <div class="dropdown">
                <span class="dropdown-label">Information
                    <img src="/static/chevron-down.svg">
                </span>
                <div class="dropdown-content">
                    <a href="/information/about-green-energy">About green energy</a>
                    <a href="/information/green-energy-products">Green energy products</a>
                    <a href="/infomration/reducing-carbon-footprint">Reducing your carbon footprint</a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropdown-label">Services<img src="/static/chevron-down.svg"></span>
                <div class="dropdown-content">
                    <a href="/services/consultations">Consultations</a>
                    <a href="/services/installations">Installations</a>
                    <a href="/services/book">Book a service</a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropdown-label">Calculators<img src="/static/chevron-down.svg"></span>
                <div class="dropdown-content">
                    <a href="/calculators/footprint">Carbon footprint</a>
                    <a href="/calculators/energy-usage">Energy usage</a>
                </div>
            </div>
        </div>
        <div class="right">
            <a>
                +44 1234 567890
            </a>
            {% if user %}
            <a href="/account">
                <button>
                    {{ user.username }}
                </button>
            </a>
            {% else %}
            <a href="/register">
                <button>
                    REGISTER
                </button>
            </a>
            {% endif %}
        </div>
    </nav>
    {% if error %}
    <div id="messages">
        <div class="card">
            <img src="/static/x.svg" height="25" width="25">
            <div>
                <span>
                    Something went wrong...
                </span>
                <span>
                    {{ error }}
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% block no_pad %}
    {% endblock %}
    <div id="body">
        {% block body %} {% endblock %}
    </div>
</body>

</html>