<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/font.css" rel="stylesheet">
    <script src="/static/form-submit.js"></script>
    <title>Rolsa Tech - {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="left">
            <a href="/">
                <span class="logo">
                    RTech
                </span>
            </a>
            <a>
                Information
            </a>
            <a>
                Services
            </a>
            <a>
                Calculators
            </a>
        </div>
        <div class="right">
            <a>
                +44 1234 567890
            </a>
            {% if user %}
            <a href="/account">
                <button>
                    {{ user.username }}
                </button>
            </a>
            {% else %}
            <a href="/register">
                <button>
                    REGISTER
                </button>
            </a>
            {% endif %}
        </div>
    </nav>
    {% if error %}
    <div id="messages">
        <div class="card">
            <img src="/static/x.svg" height="25" width="25">
            <div>
                <span>
                    Something went wrong...
                </span>
                <span>
                    {{ error }}
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="body">
        {% block body %} {% endblock %}
    </div>
</body>
</html>