{% extends "common.html" %}
{% block title %}Welcome{%endblock%}

{% block no_pad %}
<div id="hero" class="hero">
    <img class="hero-image" src="/static/grass.jpg">
    <div>
        <div class="hero-title">Rolsa Technologies</div>
        <div class="hero-subtitle">Let's make your home greener, together.</div>
    </div>
</div>
{% endblock %}
{% block body %}
<section id="services">
    <div class="card-container" id="services">
        <div class="card">
            <div class="card-subtitle">
                CONSULTATION SERVICE
            </div>
            <div class="card-info">
                <div class="card-title">
                    Make your home GREENER.
                </div>
                <div class="card-description">
                    Book a 1-on-1 consultation with one of our representatives to learn more about green energy.
                </div>
            </div>
            <button class="card-button">BOOK NOW</button>
        </div>
        <div class="card">
            <div class="card-subtitle">
                INSTALLATION SERVICE
            </div>
            <div class="card-info">
                <div class="card-title">
                    Let us get you setup.
                </div>
                <div class="card-description">
                    Schedule for one of our engineers to install green energy technology for you.
                </div>
            </div>
            <button class="card-button">BOOK NOW</button>
        </div>
    </div>
</section>
<section id="information" class="bg-green">
    <span>
        Want to learn about green energy?
    </span>
    <div class="card-container" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="card transparent">
            <div class="card-info">
                <div class="card-title">
                    About green energy
                </div>
                <div class="card-description">
                    Learn more about the ins and outs of green energy.
                </div>
            </div>
            <button class="small">Learn more!</button>
        </div>
    
        <div class="card transparent">
            <div class="card-info">
                <div class="card-title">
                    Green energy products
                </div>
                <div class="card-description">
                    Discover products on the market & new technology.
                </div>
            </div>
            <button class="small">Discover!</button>
        </div>
        <div class="card transparent">
            <div class="card-info">
                <div class="card-title">
                    Reducing carbon footprints
                </div>
                <div class="card-description">
                    Find out how you can reduce your carbon footprint.
                </div>
            </div>
            <button class="small">Find out!</button>
        </div>
    </div>
</section>
{% endblock %}