{% extends "common.html" %}
{% block title %} Login {% endblock %}
{% block body %}
<form method="post" class="form">
    <span class="title">
        Login to your account
        </span>
    <span class="subtitle">
    Don't have an account? <a class="underline" href="/register">Register here</a></span>
    <div class="actual-form">
        <label>
            Email/Username
        </label>
        <input placeholder="Email/username..." name="emailusername">
        <label>
            Password
        </label>
        <input placeholder="Password..." type="password" name="password">
        <span>
            Forgot your password? <a class="underline" href="/reset-password">Reset it here</a>
        </span>
        <button>SUBMIT</button>
    </div>
</form>
{% endblock %}