{% extends "common.html" %}
{% block title %} Register {% endblock %}
{% block body %}
<form class="form center" method="post">
    {{ super() }}
    <span class="title">
        Create an account with us
    </span>
    <span class="subtitle">
        Already have an account? <a class="underline" href="/login">Login here</a></span>
    <div class="actual-form">
        <label for="email">
            Email Address
        </label>
        <input required type="email" name="email" placeholder="Email address..." id="email">
        <label for="username">
            Username
        </label>
        <input required placeholder="Username..." name="username">
        <label for="password">
            Password
        </label>
        <input required placeholder="Password..." type="password" name="password">
        <label for="confirm">
            Confirm Password
        </label>
        <input required placeholder="Confirm password..." type="password" name="confirm">
        <button id="submit">Submit</button>
    </div>
</form>
<img class="svg-img" src="/static/images/signup.svg">
{% endblock %}