{% extends "common.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}
<form method="post" class="form center">
    {{ super() }}
    <span class="title">
        Reset your password
    </span>
    <span class="subtitle">
        You can reset your password if you've forgotten it.</span>
    <div class="actual-form">
        <label>
            Email Address
        </label>
        <input placeholder="Email address..." name="email">
        <span>
            We will send instructions to this address.
        </span>
        <button>SUBMIT</button>
    </div>
</form>
{% endblock %}